<form method="POST">
  <label>
    Comic Name:
    <input type="text" name="name" value="<%= locals.comic?.name %>" />
  </label>
  <label>
    Publish Date: <%= formatDateAsHTML(locals.comic?.publishdate || new Date()) %>
    <input type="date" name="publishdate" value="<%= formatDateAsHTML(locals.comic?.publishdate || new Date()) %>" />
  </label>
  <label>
    Author First Name:
    <input
      type="text"
      name="authorfirstname"
      value="<%= locals.comic?.authorfirstname %>"
    />
  </label>
  <label>
    Author Last Name:
    <input
      type="text"
      name="authorlastname"
      value="<%= locals.comic?.authorlastname %>"
    />
  </label>
  <label>
    Artist First Name:
    <input
      type="text"
      name="artistfirstname"
      value="<%= locals.comic?.artistfirstname %>"
    />
  </label>
  <label>
    Artist Last Name:
    <input
      type="text"
      name="artistlastname"
      value="<%= locals.comic?.artistlastname %>"
    />
  </label>
  <label>
    Publisher:
    <input
      type="text"
      name="publishername"
      value="<%= locals.comic?.publishername %>"
    />
  </label>
  <label>
    Tags: <% tags.forEach(tag => { %>
    <label>
      <%= tag %> <input type="checkbox" name="tags" value="<%= tag %>" <%=
      locals.comic?.tags.includes(tag) ? "checked" : "" %>>
    </label>
    <% }) %>
  </label>
  <label>
    Description
    <textarea name="description"><%= locals.comic?.description %></textarea>
  </label>
  <button type="submit">Submit</button>
</form>
